
  
  
  <style>
    .gps-484763444289996030 .focus\:\!shadow-none,.gps-484763444289996030 .hover\:\!shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-484763444289996030 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-484763444289996030 .pointer-events-none{pointer-events:none}.gps-484763444289996030 .pointer-events-auto{pointer-events:auto}.gps-484763444289996030 .invisible{visibility:hidden}.gps-484763444289996030 .fixed{position:fixed}.gps-484763444289996030 .absolute{position:absolute}.gps-484763444289996030 .relative{position:relative}.gps-484763444289996030 .inset-0{inset:0}.gps-484763444289996030 .top-\[27px\]{top:27px}.gps-484763444289996030 .z-100{z-index:100}.gps-484763444289996030 .z-9{z-index:9}.gps-484763444289996030 .mx-auto{margin-left:auto;margin-right:auto}.gps-484763444289996030 .mb-0{margin-bottom:0}.gps-484763444289996030 .block{display:block}.gps-484763444289996030 .inline-block{display:inline-block}.gps-484763444289996030 .flex{display:flex}.gps-484763444289996030 .inline-flex{display:inline-flex}.gps-484763444289996030 .grid{display:grid}.gps-484763444289996030 .hidden{display:none}.gps-484763444289996030 .\!h-auto{height:auto!important}.gps-484763444289996030 .h-5{height:20px}.gps-484763444289996030 .h-6{height:24px}.gps-484763444289996030 .w-5{width:20px}.gps-484763444289996030 .w-6{width:24px}.gps-484763444289996030 .w-full{width:100%}.gps-484763444289996030 .max-w-full{max-width:100%}.gps-484763444289996030 .flex-none{flex:none}@keyframes spin{to{transform:rotate(1turn)}}.gps-484763444289996030 .animate-spin{animation:spin 1s linear infinite}.gps-484763444289996030 .flex-col{flex-direction:column}.gps-484763444289996030 .items-center{align-items:center}.gps-484763444289996030 .justify-start{justify-content:flex-start}.gps-484763444289996030 .justify-center{justify-content:center}.gps-484763444289996030 .gap-y-0{row-gap:0}.gps-484763444289996030 .overflow-hidden{overflow:hidden}.gps-484763444289996030 .overflow-clip{overflow:clip}.gps-484763444289996030 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-484763444289996030 .rounded{border-radius:4px}.gps-484763444289996030 .rounded-none{border-radius:0}.gps-484763444289996030 .\!bg-none{background-image:none!important}.gps-484763444289996030 .p-\[16px\]{padding:16px}.gps-484763444289996030 .align-middle{vertical-align:middle}.gps-484763444289996030 .text-\[14px\]{font-size:14px}.gps-484763444289996030 .leading-normal{line-height:1.5}.gps-484763444289996030 .text-g-text-2{color:var(--g-c-text-2)}.gps-484763444289996030 .text-g-text-3{color:var(--g-c-text-3)}.gps-484763444289996030 .no-underline{text-decoration-line:none}.gps-484763444289996030 .opacity-25{opacity:.25}.gps-484763444289996030 .opacity-75{opacity:.75}.gps-484763444289996030 .\!outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-484763444289996030 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-484763444289996030 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-484763444289996030 .duration-200{transition-duration:.2s}.gps-484763444289996030 .duration-300{transition-duration:.3s}.gps-484763444289996030 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-484763444289996030 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-484763444289996030 .hover\:\!shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-484763444289996030 .focus\:\!shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-484763444289996030 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-484763444289996030 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-484763444289996030 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-484763444289996030 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-484763444289996030 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-484763444289996030 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-484763444289996030 .tablet\:block{display:block}.gps-484763444289996030 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-484763444289996030 .mobile\:block{display:block}.gps-484763444289996030 .mobile\:hidden{display:none}.gps-484763444289996030 .mobile\:justify-center{justify-content:center}}.gps-484763444289996030 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-484763444289996030 .\[\&_p\]\:inline p{display:inline}.gps-484763444289996030 .\[\&_p\]\:truncate p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-484763444289996030 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-484763444289996030 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gzKELSaZZa"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:auto;--pt-mobile:var(--g-s-4xl);--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:var(--g-s-4xl);--pl-tablet:0px;--pb-tablet:var(--g-s-4xl);--pr-tablet:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzKELSaZZa mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTNNTeYgMm relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVvA1ZdZIn"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-4xl);--pl:15px;--pr:15px;--cg:15px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVvA1ZdZIn mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbpDoQZHX_ relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)" class="gjkn13aRZm ">
      
    <div
      parentTag="Col"
        class="gjkn13aRZm  overflow-clip"
        style="--tt:default;--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word"
        >
        <p>Follow Us!</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gdSTS0Qaoe  overflow-clip"
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>"Crafting His Kingdom, Thread by Thread"</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gWDL1oi8uM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-2xl);--cg:var(--g-s-l);--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWDL1oi8uM mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="guzuFCa2IQ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gBFvmlI_Jl"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:32px;border-radius:inherit"
    >
      <a
        class="pointer-events-auto"
        href="#" target="_self" title="Image Title"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-d1ff65d8-4616-474a-9f58-84f46f8023b8.png" | asset_url }}" data-srcset="{{ '432750572815254551-d1ff65d8-4616-474a-9f58-84f46f8023b8.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-d1ff65d8-4616-474a-9f58-84f46f8023b8.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-d1ff65d8-4616-474a-9f58-84f46f8023b8.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="144" height="144" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:144/144;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </a>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsTKtn04KR relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gOik6DnDdi"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:32px;border-radius:inherit"
    >
      <a
        class="pointer-events-auto"
        href="#" target="_self" title="Image Title"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-caf1e464-4cdb-47c9-9288-89cccadfeac8.png" | asset_url }}" data-srcset="{{ '432750572815254551-caf1e464-4cdb-47c9-9288-89cccadfeac8.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-caf1e464-4cdb-47c9-9288-89cccadfeac8.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-caf1e464-4cdb-47c9-9288-89cccadfeac8.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="144" height="144" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:144/144;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </a>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkl-MAhRJw relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image go1ie8k6vU"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:32px;border-radius:inherit"
    >
      <a
        class="pointer-events-auto"
        href="#" target="_self" title="Image Title"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-8bef087e-d659-466a-b8e9-e1056941e95e.png" | asset_url }}" data-srcset="{{ '432750572815254551-8bef087e-d659-466a-b8e9-e1056941e95e.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-8bef087e-d659-466a-b8e9-e1056941e95e.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-8bef087e-d659-466a-b8e9-e1056941e95e.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="144" height="144" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:144/144;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </a>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gftXws6RUa relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gb5zczsgzm"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:32px;border-radius:inherit"
    >
      <a
        class="pointer-events-auto"
        href="#" target="_self" title="Image Title"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-32879222-a24a-429a-928e-7be765ba137d.png" | asset_url }}" data-srcset="{{ '432750572815254551-32879222-a24a-429a-928e-7be765ba137d.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-32879222-a24a-429a-928e-7be765ba137d.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-32879222-a24a-429a-928e-7be765ba137d.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="144" height="144" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:144/144;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </a>
    </figure>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2AZh9BYE6 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:16px;--pb:16px;--mb-mobile:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:0px" class="grtf-iKikl ">
      
    <div
      class="flex justify-start mobile:justify-center"
    >
      <div
        style="--w:100px;--w-tablet:100px;--w-mobile:50%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:#EEEEEE"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:100px;--w-tablet:100px;--w-mobile:50%;--bc:#EEEEEE;--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:100px;--w-tablet:100px;--w-mobile:50%;--bc:#EEEEEE;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px;--minw-mobile:50%"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:100px;--w-tablet:100px;--w-mobile:50%;--bc:#EEEEEE;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px;--minw-mobile:50%"
    ></div>
  
      </div>
    </div>
  
      </div>
      
      
    <div
      parentTag="Col" id="gTJI8fDvTg"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 0px 1px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:0px;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTJI8fDvTg mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-aGMpHgOm relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)" class="gzsDMBhakc ">
      
    <div
      parentTag="Col"
        class="gzsDMBhakc  overflow-clip"
        style="--tt:default;--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word"
        >
        <p>Join the Kingdom Chronicles!</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gJ4zyJTvfE  overflow-clip"
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>Our newsletter is your direct gateway to the heart of the Kingdom, where we share not only the latest faith-based fashion trends but also the heartbeat of Christian events, concerts, and praise reports. The Kingdom Chronicles will give insight on all drops and sales firsthand. Join our Kingdom Armor community and become part of a movement that spreads God's light in the heart of urban life. Together, we're armored with the Word of God and ready to make a positive impact in the world. Welcome to the Kingdom Armor family!</p>
        </div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:0px;--pb:auto;--pr:0px" class="gdGeFCID5a ">
      
    <gp-form 
      id="gdGeFCID5a"
      style=""
      data-submit-action=''
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gdGeFCID5a"
        href="" target="_self"
      >
      </a>
      {% form 'customer', class: 'gp-form-gdGeFCID5a ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gdGeFCID5a"
            class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div
          id="gp-form-success-gdGeFCID5a"
          class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for Subscribing. Coupon code: XXX-555
        </div>
        
      
      
    <div
      parentTag="Newsletter" id="gD4yLAKJXf"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:430px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gD4yLAKJXf mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g58lIhR5Xz relative flex flex-col"
    >
      
    <div
      class="gaiCNFjUzm"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item g-paragraph-1 !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--pl:32px;--pr:32px;--pt:11px;--pb:11px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12.5px;--pb-mobile:12.5px;--w:100%;--w-tablet:100%;--w-mobile:100%;--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Enter your email"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVG9_Mk_pW relative flex flex-col"
    >
      
    <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gBCcZ6ekRl.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-brand, brand);
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gBCcZ6ekRl:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-brand, brand);
  
      
    }
  </style>
    <button
      type="submit" data-id="gBCcZ6ekRl" aria-label="Subscribe"
      data-state="idle"
      class="gBCcZ6ekRl gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#424242;--bg:#242424;--c:var(--g-c-text-3, text-3);--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:14px;--pb-mobile:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:13px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="truncate group-data-[state=loading]:invisible [&_p]:truncate z-9 "
        style="--tt:default"
      >
        Subscribe
      </span>
    </button>
  </div>
  
    </div>
    </div>
  
    
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-form.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gqTGwERizb"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 0px 0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pl:15px;--pl-mobile:0px;--pl-tablet:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqTGwERizb mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKSJCkYfYb relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)" class="gfeIwolBXn ">
      
    <div
      parentTag="Col"
        class="gfeIwolBXn  overflow-clip"
        style="--tt:default;--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word"
        >
        <p>Join the Kingdom Chronicles!</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="g9af28JQZV  overflow-clip"
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>Our newsletter is your direct gateway to the heart of the Kingdom, where we share not only the latest faith-based fashion trends but also the heartbeat of Christian events, concerts, and praise reports. The Kingdom Chronicles will give insight on all drops and sales firsthand. Join our Kingdom Armor community and become part of a movement that spreads God's light in the heart of urban life. Together, we're armored with the Word of God and ready to make a positive impact in the world. Welcome to the Kingdom Armor family!</p>
        </div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:var(--g-s-l);--pb:auto;--pr:var(--g-s-l);--pt-mobile:auto;--pl-mobile:0px;--pb-mobile:auto;--pr-mobile:0px" class="guQbX34qnl ">
      
    <gp-form 
      id="guQbX34qnl"
      style=""
      data-submit-action=''
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-guQbX34qnl"
        href="" target="_self"
      >
      </a>
      {% form 'customer', class: 'gp-form-guQbX34qnl ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-guQbX34qnl"
            class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div
          id="gp-form-success-guQbX34qnl"
          class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for Subscribing. Coupon code: XXX-555
        </div>
        
      
      
    <div
      parentTag="Newsletter" id="g4JsV9uqqr"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:430px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4JsV9uqqr mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gv_Vxr0RdB relative flex flex-col"
    >
      
    <div
      class="gY3Hl7E69q"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item g-paragraph-1 !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--pl:32px;--pr:32px;--pt:11px;--pb:11px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12.5px;--pb-mobile:12.5px;--w:100%;--w-tablet:100%;--w-mobile:100%;--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Enter your email"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxRyxnQktQ relative flex flex-col"
    >
      
    <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gOK8oai1W0.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-brand, brand);
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gOK8oai1W0:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-brand, brand);
  
      
    }
  </style>
    <button
      type="submit" data-id="gOK8oai1W0" aria-label="Subscribe"
      data-state="idle"
      class="gOK8oai1W0 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#424242;--bg:#242424;--c:var(--g-c-text-3, text-3);--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:14px;--pb-mobile:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:13px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="truncate group-data-[state=loading]:invisible [&_p]:truncate z-9 "
        style="--tt:default"
      >
        Subscribe
      </span>
    </button>
  </div>
  
    </div>
    </div>
  
    
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-form.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-484763444289996030 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=484763444289996030&template_id=484759940938859774)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
