<style>
  .product-explanation-inner-wrapper > div:nth-child(2) > div:nth-child(2) > img {
    {% if settings.theme_media_type == "round" %} 
      border-radius: var(--image_radius);
    {% endif %}
  }

  .product-explanation-inner-wrapper > div > div > div.product-explanation__sub_item > img {
    max-width: {{ section.settings.icon_size | append: "px" }};
    width: {{ section.settings.icon_size | append: "px" }}
  }
  .section-template-product-explanation{
    padding-top:{{section.settings.padding_top}}px;
    padding-bottom:{{section.settins.padding_bottom}}px;
    margin-top: {{section.settings.margin_top}}px;
    margin-bottom: {{section.settings.margin_bottom}}px;
  }
  @media (max-width: 768px){
    .section-template-product-explanation {
      padding-top: calc({{section.settings.padding_top}}px * 0.5);
      padding-bottom: calc({{section.settings.padding_bottom}}px * 0.5);
      margin-top: calc({{section.settings.margin_top}}px * 0.5);
      margin-bottom: calc({{section.settings.margin_bottom}}px * 0.5);
    }
  }
</style>

<div class="section-template--{{ section.id }} section-template-product-explanation">
  <div class="product-explanation-inner-wrapper width">
    <div>
    </div>
    <div>
      <div>
        {%- liquid
          assign half_sub_items = section.blocks.size | divided_by: 2
        %}
        {% for block in section.blocks %}
          {% if forloop.index0 < half_sub_items %}
            <div class="product-explanation__sub_item">
              {% if block.settings.sub_img != blank %}
                <img src="{{ block.settings.sub_img | image_url }}" />
              {% else %}
                <img src="{{ 'icon_supima.png' | asset_url }}" />
              {% endif %}
              <span>{{ block.settings.title }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div>
        {% if section.settings.img_main !=  blank %}
          <img src="{{ section.settings.img_main | image_url }}" />
        {% else %}
          <img src="{{ 'img_sample_product1.png' | asset_url }}" />
        {% endif %}
      </div>
      <div>
        {% for block in section.blocks %}
          {% if forloop.index0 >= half_sub_items %}
            <div class="product-explanation__sub_item">
              {% if block.settings.sub_img != blank %}
                <img src="{{ block.settings.sub_img | image_url }}" />
              {% else %}
                <img src="{{ 'icon_supima.png' | asset_url }}" />
              {% endif %}
              <span>{{ block.settings.title }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image & Icons",
    "settings": [
      {
        "type": "header",
        "content": "Section Padding"
      },  
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 12
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom",
        "default": 12
      },
      {
        "type": "header",
        "content": "Section margin"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 12
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom",
        "default": 12
      },
      {
        "type": "image_picker",
        "id": "img_main",
        "label": "Main Image"
      },
      {
        "type": "range",
        "id": "icon_size",
        "label": "Icon Size",
        "min": 20,
        "max": 200,
        "step": 2,
        "default": 40
      }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "sub_img",
            "label": "Sub Image"
          },
          {
            "type": "text",
            "id": "title",
            "default": "Your text will go here",
            "label": "Sub Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image & Icons",
        "blocks": [
          {
            "type": "icon"
          },
          {
            "type": "icon"
          },
          {
            "type": "icon"
          },
          {
            "type": "icon"
          },
          {
            "type": "icon"
          },
          {
            "type": "icon"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}