<style>
  {% if section.settings.color == "inverse" %}
    .tab-item.selected {
      background-color: var(--inverse_button_color);
      color: var(--inverse_button_text_color);
    }
  {% else %}
    .tab-item.selected {
      background-color: var(--button_color);
      color: var(--button_text_color);
    }
  {% endif %}
</style>

<div class="section-template--{{ section.id }} section-tab-content">
  <div class="tab-content-inner-wrapper width">
    <div class="tab-items">
      <div>
        {% assign headings = "" %}
        {% assign first_tab = "" %}
        {% assign tab_contents = section.blocks | sort: "section.blocks.settings.tab_label" %}
        {% for block in tab_contents %}
          {% if headings contains block.settings.tab_label %}
          {% else %}
            <div class="tab-item {% if forloop.index0 == 0 %}selected{% endif %}" data-label="{{ block.settings.tab_label }}">
              <span>{{ block.settings.tab_label }}</span>
              {% assign headings = headings | append: block.settings.tab_label | append: "," %}
            </div>
          {% endif %}
          {% if first_tab == "" %}
            {% assign first_tab = block.settings.tab_label %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="collapsable-contents">
      {% for block in section.blocks %}
        <div class="collapsable-content-section" data-tab="{{ block.settings.tab_label }}" style="{% if first_tab == block.settings.tab_label %}display: block;{% else %}display: none;{% endif %}">
          <header class="collapsable-content-section-header">
            <h3>{{ block.settings.heading }}</h3>
            {% render 'icon-chevron-up' %}
          </header>
  
          <div class="collapsable-content-section-body">
            <div class="collapsable-content-section-body-inner rte">
              {{ block.settings.tab_item_content }}
            </div>
          </div>
        </div>
      {% else %}
        {% for i in (1..5) %}
          <div class="collapsable-content-section">
            <header class="collapsable-content-section-header">
              <h3>{{ 'default_values.texts.sample_heading' | t }}</h3>
              {% render 'icon-chevron-up' %}
            </header>
  
            <div class="collapsable-content-section-body">
              <div class="collapsable-content-section-body-inner rte">
                {{ 'default_values.texts.sample_content' | t }}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tab Content",
  "settings": [
    {
      "type": "select",
      "label": "Color Scheme",
      "id": "color",
      "default": "normal",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "inverse",
          "label": "Alternate"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Padding"
    },  
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 12
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 12
    },
    {
      "type": "header",
      "content": "Section margin"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 12
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 12
    }
  ],
  "blocks": [
    {
      "name": "Tab Item",
      "type": "tab_item",
      "settings": [
        {
          "type": "text",
          "id": "tab_label",
          "label": "FAQ Category",
          "default": "Sample Label"
        },
        {
          "type": "richtext",
          "id": "heading",
          "label": "Question",
          "default": "<p>block.id</p>"
        },
        {
          "type": "richtext",
          "id": "tab_item_content",
          "label": "Answer",
          "default": "<p>Sample Content</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tab Content"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $(".tab-item").on('click', function() {
      $(".tab-items > div > div.selected").removeClass("selected");
      $(this).addClass("selected");

      $(".collapsable-content-section[data-tab='" + $(this).data("label") + "']").css("display", "block");
      $(".collapsable-content-section[data-tab!='" + $(this).data("label") + "']").css("display", "none");
    });
  })
</script>